@import "src/styles/color";
@import "src/styles/settings";

.header {
  margin: 70px;
}

h1 {

  @media only screen and (max-width: 1060px) {
    font-size: 25px !important;
  }
}

.body {
  @include flex-center-align;
  align-items: flex-start;
  padding: 20px;
  background-color: #ffffff;
}

mat-card {
  width: 20%;
  min-width: 200px;
  margin: 10px;
  padding: 30px;
  height: 400px;

  @media only screen and (max-width: 1080px) {
    width: 25%;
  }

  @media only screen and (max-width: 850px) {
    width: 30%;
  }
}

.img-clip-path {
  clip-path:ellipse(50% 50%);
  width: 120px;
  height: 120px;
  margin-right: 16px;
  background-color: var(--secondary-background-color);
  border-radius: 50%;
  overflow: hidden;
  transform: translateZ(0);
}

.picture-path, .logo {
  @include flex-center-align;
}

.logo {
  margin-top: 4px;
}

.name, .description {
  text-align: center;
  font-family: "Cambria Math";
}

.description {
  flex-wrap: wrap;

  @media only screen and (max-width: 850px) {
    font-size: 15px;
  }
}

.name {
  font-weight: bolder;
}

mat-card-footer {
  @include flex-center-align;

  a {
    margin: 0 5px 0 5px;
  }
}
