<!--open-->
<app-card [height]="'20px'" [showHead]="false" [description1]="'MOBILE AND WEB DEV'"
          [description2]="'CLOUD TECHNOLOGIES'" [description3]="'MIOT SECURITY'"></app-card>

<app-small [heure]="'9H00'" [description]="'ACCUEIL'" ></app-small>

<app-small [heure]="'9H30'" [description]="'KEYNOTE'" [color]="'orange'"></app-small>

<app-small [heure]="'9H45'" [description]="'BREAK'" [color]="'#b0bec5'"></app-small>
<!--fin open-->
<app-card [height]="'110px'" [heure]="'10H00'" [description1]="'ANGULAR 14: The next generation of Angular Application'"
          [description2]="'JKUBE: Kubernetes pour Javaiste qui n\'aime pas le YAML'"
          [description3]="'Sécurité + open source'" [showHead]="true"></app-card>

<app-small [heure]="'10H40'" [description]="'BREAK'" [color]="'#b0bec5'"></app-small>

<app-card [heure]="'10H55'"></app-card>

<app-small [heure]="'11H35'" [description]="'BREAK'" [color]="'#b0bec5'"></app-small>

<app-card [heure]="'11H50'"></app-card>

<app-small [heure]="'12H30'" [description]="'SANDWICHES AND DRINKS'" [color]="'#b0bec5'" [height]="'100px'"></app-small>

