<div class="body">
  <div class="begin">
    <div>
      <img src="assets/logo/logo.png">
      <p>December 17, 2022</p>
      <p>UMONS - Grands Amphithéâtres (auditoire Van Gogh), Av. du Champ de Mars, 7000 Mons</p>
      <button  mat-raised-button ><a target="_blank" class="app-menu-link1"
            href="https://www.billetweb.fr/devfest-mons-2022">I book a ticket</a></button>
    </div>
  </div>

  <div class="middle">
    <h1>Discovering the world of DEVFEST</h1>
    <div class="video">
<!--      <video style="border:0;" loading="lazy" controls="controls">-->
<!--        <source src="assets/DevFest-mons.mp4" type="video/mp4">-->
<!--      </video>-->
      <iframe src="https://youtube.com/embed/K6W9Usve6hI" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <div class="end">
    <div class="video">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d345.4195614744963!2d3.9545760433518757!3d50.46384159612484!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2501e25ad7d31%3A0x1a70dfb28ab8b01e!2sUMONS%20-%20Grands%20Amphith%C3%A9%C3%A2tres%20(auditoire%20Van%20Gogh)!5e1!3m2!1sfr!2sfr!4v1667848424642!5m2!1sfr!2sfr"
              class="map"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
</div>

