<div class="body">
  <div class="begin">
    <div>
      <img src="assets/logo/logo.png">
      <p>17 et 18 décembre 2022</p>
      <p>Rue de Houdain 9, 7000 Mons</p>
      <button  mat-raised-button ><a target="_blank" class="app-menu-link1"
            href="https://docs.google.com/forms/d/e/1FAIpQLScerznithZVuGyBn1qsVVjThUPcvxr_LBRhQ4EVwmJuTIzGqQ/viewform?usp=pp_url">
        Réserve un billet</a></button>
    </div>
  </div>

  <div class="middle">
    <h1>À la découverte du monde du DEVFEST</h1>
    <div class="video">
      <video style="border:0;" loading="lazy" controls="controls">
        <source src="assets/DevFest.mp4" type="video/mp4">
      </video>
    </div>
  </div>

  <div class="end">
    <div class="video">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d345.09679661527997!2d3.9528913537431785!3d50.45210571756924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2500206e99451%3A0xf8bedfcdf088a129!2sRue%20de%20Houdain%209%2C%207000%20Mons!5e1!3m2!1sfr!2sbe!4v1667242244951!5m2!1sfr!2sbe"
           class="map"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
</div>

