<div class="header">
  <h1>Partners</h1>
  <p>
    Hear from the Googlers, Partners, and Guest Speakers who are building the future of <br>
    cloud. Check back often as we add more speakers, including our customers and <br>
    partners.
  </p>
</div>

<div class="body">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let partner of partners">
      <img class="img-carree img-clip-path" [src]="getpicturePath(partner.picturePath)">
    </mat-grid-tile>
  </mat-grid-list>
</div>
