@import "src/styles/color";
@import "src/styles/settings";

main {
  height: 400vh;
  padding: 50px;
}

.line {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100% !important;
  margin-top: 10px;

  .hour {
    width: 5%;
  }

  .card {
    width: 93%;
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: center;

    .app {
      width: 30%;
      margin-left: 10px;
    }

    .app1 {
      width: 100%;
      margin-left: 10px;
    }

    .app2 {
      width: 30%;
      margin-left: 10px;
    }

    .app3 {
      //width: 60%;
      margin-bottom: 100px;

    }


  }
}

.line2 {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  //justify-content: center;
  //width: 100% !important;
  margin-bottom: 10px;

  .app4 {
    width: 47%;
    margin-right: 10px;
    //margin-left: 10px;
  }
}
