<mat-toolbar>
  <mat-toolbar-row>
    <div fxFill fxLayout="row" fxLayoutAlign="space-around center" class="header">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="men">
        <span class="app-menu-link right" (click)="inputSideNav.toggle()">
          <mat-icon >menu</mat-icon>
        </span>

        <span class="app-menu-link log" [routerLink]='["/"]'>
          <img width="100" src="assets/logo/logo.png">
        </span>

         <span class="app-menu-link app-men" [routerLink]='["/"]'>
            {{ 'MENU.HOME' | translate }}
         </span>

        <span class="app-menu-link app-men" [ngClass]="{'menu-actif':isActiveItemMenu('shedules')}" [routerLink]='["/shedules"]'>
          {{ 'MENU.SHEDULES' | translate }}
        </span>

        <span class="app-menu-link app-men" [routerLink]='["/speakers"]' [ngClass]="{'menu-actif':isActiveItemMenu('shedules')}">
          {{ 'MENU.SPEAKERS' | translate }}
        </span>

         <span class="app-menu-link app-men" [routerLink]='["/teams"]' [ngClass]="{'menu-actif':isActiveItemMenu('shedules')}">
          {{ 'MENU.TEAMS' | translate }}
        </span>

        <span class="app-menu-link app-men" [routerLink]='["/partners"]' [ngClass]="{'menu-actif':isActiveItemMenu('shedules')}">
          {{ 'MENU.PARTNERS' | translate }}
        </span>

        <span class="app-menu-link app-men" [ngClass]="{'menu-actif':isActiveItemMenu('add-ticket')}">
          <a target="_blank" class="app-menu-link1"
             href="https://www.billetweb.fr/devfest-mons-2022">{{ 'MENU.TICKETS' | translate }}</a>
        </span>

<!--        <span class="app-menu-link app-men" >-->
<!--          <img width="35" src="assets/flags/en.png">-->
<!--        </span>-->
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
