@import "src/styles/color";
@import "src/styles/settings";

mat-toolbar {
  .men {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header {
    height: 40px;
    width: 100%;
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    position: fixed;
    z-index: 99999;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .app-menu-link {
    color: $color_first !important;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    padding: 3px 12px 0 12px;
  }

  .app-menu-link1 {
    text-decoration: none;
    color: $color_first !important;
  }

  .app-men {
    @media only screen and (max-width: 1100px) {
      display: none;
    }
  }

  .app-men:hover {
    border-bottom: 2px solid darkred;
  }

  .log {
    position: absolute;
    top: 0.5rem;
    left: 7.5rem;
    z-index: 1999;

    @media only screen and (max-width: 1100px) {
      display: none;
    }
  }
}

.disable {
  color: grey;
  font-size: 18px;
  font-weight: bolder;
  padding: 3px 12px 0 12px;
}

.right {
  position: absolute;
  left: 0.5rem;
  z-index: 1999;

  @media only screen and (min-width: 1100px) {
    display: none;
  }
}

mat-toolbar-row {
  padding-left: 0;
  padding-right: 0;
  margin-right: 15px !important;
}

.menu-acti {
  font-size: 52px;
  background-color: $color_first !important;
  color: white !important;
}
