<mat-toolbar>
  <mat-toolbar-row>
    <div fxFill fxLayout="row" fxLayoutAlign="space-around center" class="header">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="men">
        <span *ngIf="currentUser" class="app-menu-link right" (click)="inputSideNav.toggle()">
          <mat-icon >menu</mat-icon>
        </span>

        <span class="app-menu-link log" [routerLink]='["/"]'>
          <img width="100" src="assets/logo/logo.png">
        </span>

         <span class="app-menu-link app-men" [routerLink]='["/"]'>
            Home
         </span>

        <span class="app-menu-link app-men" [ngClass]="{'menu-actif':isActiveItemMenu('shedules')}" [routerLink]='["/shedules"]'>
          Schedule
        </span>

        <span class="app-menu-link app-men" [routerLink]='["/"]'>
          Speakers
        </span>

         <span class="disable">
          Team
        </span>

        <span class="disable">
          Partners
        </span>

        <span class="disable">
          Blog
        </span>

        <span class="app-menu-link app-men" [ngClass]="{'menu-actif':isActiveItemMenu('tickets')}">
          <a target="_blank" class="app-menu-link1"
             href="https://docs.google.com/forms/d/e/1FAIpQLScerznithZVuGyBn1qsVVjThUPcvxr_LBRhQ4EVwmJuTIzGqQ/viewform?usp=pp_url">Tickets</a>
        </span>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
